workflows/monitoring/nas-health.json
{
  "name": "Terry · NAS Health (every 15m)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] } },
      "id": "schedule",
      "name": "Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p1", "name": "chatId", "type": "string", "value": "terry-nas-health" },
            { "id": "p2", "name": "agent_id", "type": "string", "value": "storage-nas" },
            { "id": "p3", "name": "target",   "type": "string", "value": "={{ $env.NAS_HOST }}" },
            { "id": "p4", "name": "prompt",   "type": "string", "value": "Perform the comprehensive NAS health check on the target. Use only read-only commands. Return overall = Healthy|Warning|Critical and per-area detail." }
          ]
        },
        "options": {}
      },
      "id": "setvars",
      "name": "Set vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt AS system FROM ops.agent_definitions WHERE agent_id = $1",
        "options": { "queryReplacement": "={{ $json.agent_id }}" }
      },
      "id": "load-prompt",
      "name": "Load system prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [600, 320]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Target NAS: {{ $('Set vars').first().json.target }}\n\n{{ $('Set vars').first().json.prompt }}",
        "hasOutputParser": true,
        "options": { "systemMessage": "={{ $json.system }}", "maxIterations": 10 }
      },
      "id": "agent",
      "name": "NAS agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [820, 320]
    },
    {
      "parameters": { "model": "qwen2.5-coder:7b", "options": { "temperature": 0.1 } },
      "id": "ollama",
      "name": "Ollama Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [720, 540]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set vars').first().json.chatId }}",
        "tableName": "ops.agent_memory"
      },
      "id": "memory",
      "name": "Postgres memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [840, 540]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"overall\": \"Healthy\",\n  \"areas\": {\n    \"boot_errors\": {\"status\": \"ok\", \"detail\": \"\"},\n    \"drives\": {\"status\": \"ok\", \"detail\": \"\"},\n    \"capacity\": {\"status\": \"ok\", \"detail\": \"\"},\n    \"smart\": {\"status\": \"ok\", \"detail\": \"\"},\n    \"raid\": {\"status\": \"ok\", \"detail\": \"\"},\n    \"io\": {\"status\": \"ok\", \"detail\": \"\"}\n  },\n  \"actions_recommended\": [],\n  \"needs_approval\": false\n}"
      },
      "id": "parser",
      "name": "Structured output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [960, 540]
    },
    {
      "parameters": {
        "name": "ssh-exec",
        "description": "Run a nas-readonly command. Provide argv array.",
        "workflowId": "={{ $env.WF_SSH_EXEC }}"
      },
      "id": "ssh-tool",
      "name": "ssh-exec tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [1080, 540]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "critical", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "r1", "leftValue": "={{ $json.output.overall }}", "rightValue": "Critical", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } },
            { "outputKey": "warning",  "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "r2", "leftValue": "={{ $json.output.overall }}", "rightValue": "Warning",  "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } }
          ]
        },
        "options": {}
      },
      "id": "verdict",
      "name": "Verdict router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_INTERNAL_URL }}/webhook/terry/commander",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"NAS critical health\",\n  \"severity\": \"crit\",\n  \"target_id\": \"{{ $('Set vars').first().json.target }}\",\n  \"context\": {{ JSON.stringify($json.output) }}\n}"
      },
      "id": "escalate",
      "name": "Escalate to commander",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=💾 NAS *{{ $('Set vars').first().json.target }}* — *{{ $json.output.overall }}*\n\n{{ Object.entries($json.output.areas).filter(([_, v]) => v.status !== 'ok').map(([k, v]) => '• *' + k + '*: ' + v.detail).join('\\n') }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "tg-warning",
      "name": "TG: warning",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 380]
    }
  ],
  "connections": {
    "Every 15 minutes":  { "main": [[{ "node": "Set vars", "type": "main", "index": 0 }]] },
    "Set vars":          { "main": [[{ "node": "Load system prompt", "type": "main", "index": 0 }]] },
    "Load system prompt":{ "main": [[{ "node": "NAS agent", "type": "main", "index": 0 }]] },
    "Ollama Chat":       { "ai_languageModel": [[{ "node": "NAS agent", "type": "ai_languageModel", "index": 0 }]] },
    "Postgres memory":   { "ai_memory":        [[{ "node": "NAS agent", "type": "ai_memory",        "index": 0 }]] },
    "Structured output": { "ai_outputParser":  [[{ "node": "NAS agent", "type": "ai_outputParser",  "index": 0 }]] },
    "ssh-exec tool":     { "ai_tool":          [[{ "node": "NAS agent", "type": "ai_tool",          "index": 0 }]] },
    "NAS agent":         { "main": [[{ "node": "Verdict router", "type": "main", "index": 0 }]] },
    "Verdict router":    { "main": [
      [{ "node": "Escalate to commander", "type": "main", "index": 0 }],
      [{ "node": "TG: warning", "type": "main", "index": 0 }]
    ]}
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "terry" }, { "name": "monitoring" }, { "name": "nas" }]
}
