workflows/monitoring/proxmox-health.json
{
  "name": "Terry · Proxmox Health (every 5m)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] } },
      "id": "schedule",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p1", "name": "chatId", "type": "string", "value": "terry-proxmox-health" },
            { "id": "p2", "name": "agent_id", "type": "string", "value": "proxmox-virt" },
            { "id": "p3", "name": "prompt", "type": "string", "value": "Run a cluster sweep: quorum status, per-node load, list of running vs stopped VMs and LXCs. Flag any node with load >5 or any VM/LXC in unexpected state." }
          ]
        },
        "options": {}
      },
      "id": "setvars",
      "name": "Set vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt AS system FROM ops.agent_definitions WHERE agent_id = $1",
        "options": { "queryReplacement": "={{ $json.agent_id }}" }
      },
      "id": "load-prompt",
      "name": "Load system prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [600, 320]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set vars').first().json.prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.system }}",
          "maxIterations": 8
        }
      },
      "id": "agent",
      "name": "Proxmox agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [820, 320]
    },
    {
      "parameters": { "model": "qwen2.5-coder:7b", "options": { "temperature": 0.1 } },
      "id": "ollama",
      "name": "Ollama Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [720, 540]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set vars').first().json.chatId }}",
        "tableName": "ops.agent_memory"
      },
      "id": "memory",
      "name": "Postgres memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [840, 540]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"string\",\n  \"cluster_state\": {\"nodes_online\": 0, \"quorum\": \"ok\"},\n  \"evidence\": [{\"cmd\": \"pvesh get /...\", \"summary\": \"...\"}],\n  \"proposed_action\": null,\n  \"needs_approval\": false\n}"
      },
      "id": "parser",
      "name": "Structured output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [960, 540]
    },
    {
      "parameters": {
        "name": "ssh-exec",
        "description": "Run a proxmox-readonly command. Provide argv array.",
        "workflowId": "={{ $env.WF_SSH_EXEC }}"
      },
      "id": "ssh-tool",
      "name": "ssh-exec tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [1080, 540]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.output.cluster_state.quorum }}", "rightValue": "ok", "operator": { "type": "string", "operation": "notEquals" } }
          ],
          "combinator": "or"
        }
      },
      "id": "alert-if",
      "name": "Quorum degraded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_INTERNAL_URL }}/webhook/terry/commander",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Proxmox quorum degraded\",\n  \"severity\": \"crit\",\n  \"target_id\": \"proxmox-cluster\",\n  \"context\": {{ JSON.stringify($json.output) }}\n}"
      },
      "id": "escalate",
      "name": "Escalate to commander",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Proxmox cluster: *{{ $json.output.cluster_state.quorum }}*\n\n{{ $json.output.answer }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "tg-alert",
      "name": "TG: alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 420]
    }
  ],
  "connections": {
    "Every 5 minutes":   { "main": [[{ "node": "Set vars", "type": "main", "index": 0 }]] },
    "Set vars":          { "main": [[{ "node": "Load system prompt", "type": "main", "index": 0 }]] },
    "Load system prompt":{ "main": [[{ "node": "Proxmox agent", "type": "main", "index": 0 }]] },
    "Ollama Chat":       { "ai_languageModel": [[{ "node": "Proxmox agent", "type": "ai_languageModel", "index": 0 }]] },
    "Postgres memory":   { "ai_memory":        [[{ "node": "Proxmox agent", "type": "ai_memory",        "index": 0 }]] },
    "Structured output": { "ai_outputParser":  [[{ "node": "Proxmox agent", "type": "ai_outputParser",  "index": 0 }]] },
    "ssh-exec tool":     { "ai_tool":          [[{ "node": "Proxmox agent", "type": "ai_tool",          "index": 0 }]] },
    "Proxmox agent":     { "main": [[{ "node": "Quorum degraded?", "type": "main", "index": 0 }]] },
    "Quorum degraded?":  { "main": [
      [{ "node": "Escalate to commander", "type": "main", "index": 0 }, { "node": "TG: alert", "type": "main", "index": 0 }],
      []
    ]}
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "terry" }, { "name": "monitoring" }, { "name": "proxmox" }]
}
